* {
    margin: 0;
	padding: 0;
}

html,body{
    width: 100%;
    box-sizing: border-box;
    font-family: Sora, Poppins, sans-serif;
    background-image: url(../image/bg-page-desktop-1920px.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container{    
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-picture{
    max-width: 125px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    border-radius: 90000px;
}

.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;        
    margin: 0 auto;

}

.social-links div a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;    
    justify-content: space-between;
    padding: 15px;
    border-radius: 4px;
    gap: 10px;
    background-color: #361860;
    width: 300px;
    transition: transform 400ms ease-in-out;
}

.social-links div a:hover{
    transform: scale(1.02);
    background-color: #691ed3;
}

.social-links a {
    text-decoration: none;
    margin: 0 0;
    color: white;
    font-size: 16px;
}

.social-links svg {
    text-decoration: none;
    margin: 0 0;
    color: white;
    font-size: 16px;
}

h1{
    font-size: 2rem;
    text-align: center;
    padding: 10px auto;
    font-weight: 500;
    color: white;
}

p{
    font-size: 1.2rem;    
    color: white;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}



@media(max-width: 800px){
    a{
        width: 100%;
        margin: 5px 20px;
    }

    p{
        width: 80%;
    }

    body{
        background-image: url(../image/bg-page-mobile-800px.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


